<div id="<%= dom_id aluno %>">
  <p>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= aluno.idade %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= aluno.cpf %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= aluno.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= aluno.email %>
  </p>

  <p>
    <strong>Datanascimento:</strong>
    <%= aluno.datanascimento %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= aluno.endereco %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= aluno.observacao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= aluno.status %>
  </p>

</div>
